#messageDiv{
	width: 250px;
	height: 50px;
	margin-top: -20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

#regDiv{
	width: 400px;
}

#registerForm .input-group{
	margin: 10px;
}

#registerForm .input{
	width: 200px;
}

#userTypeList .input{
	width: 50px;
	margin: 10px;
}

#updateDiv{
	width: 400px;
}

#updateProfileForm .input-group{
	margin: 10px;
}

#updateProfileForm .input{
	width: 200px;
}

#createDocumentDiv{
	width: 500px;
}

#createDocumentForm .input-group{
	margin: 10px;
}

#createDocumentForm .input{
	width: 300px;
}

#editDocumentDiv{
	width: 500px;
}

#editDocumentForm .input-group{
	margin: 10px;
}

#editDocumentForm .input{
	width: 300px;
}